html{
  background-color:#f67878;
}

div#main{
display:flex;  
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}


div#notMain{
display:flex;  
flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
}

input[type="color"]{
width: 80vw;
height: 50vw;
}
