* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

window#waybar {
  background-color: #F0DBDB;

  border-bottom: 0px solid transparent;
  border: 2px solid black;
  color: black;
  transition-property: background-color;
  transition-duration: .5s;
  border-radius: 10px;
  padding-right: 5px;
}

window#waybar.hidden {
  opacity: 0.2;
}


window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #f0932b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-power,
#workspaces {
  padding: 2px 20px;
  margin: 10px 10px;
  color: #3E3E56;
  background-color:#C0F7E4;
  border-radius: 12px;
  border: 2px solid black;

}


#workspaces button {
  padding: 0 5px;
  margin: 0 2px;
  background-color: transparent;
  color: #000000;
}


#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  padding: 0 5px;
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#workspaces button.focused {
  background-color: white;
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces {
  margin: 4 4px;
}

#workspaces {
  margin-left: 10px;
  margin-right: 10px;
  /* background-color: white; */
  /* color: black; */
}





/* #pulseaudio { */

  /* background-color: white; */
  /* color: #dadada; */
/* } */

/* #pulseaudio:hover { */


  /* background-color: #252525; */
  /* color: #dadada; */
/* } */

/* #network { */

  /* background-color: #252525; */
  /* color: #dadada; */
/* } */

/* #network.disconnected { */

  /* background-color: #252225; */
  /* color: #dadada; */
/* } */

/* #backlight { */
  /* background-color: #252225; */
  /* color: #dadada; */
/* } */

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  /* color: #ffffff; */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging,
#battery.plugged {
  /* color: #ffffff; */
  background-color: #26A65B;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  /* color: #ffffff; */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* #battery { */
  /* color: #000000; */
  /* background-color: #252525; */
  /* color: #dadada; */
/* } */

#clock {

  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #F7C0D3;
  color: #3E3E56;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}


/* #tray { */

  /* background-color: #252525; */
  /* color: black; */
/* } */

