
    * {
        /* `otf-font-awesome` is required to be installed for icons */
        font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
        font-size: 15px;
    }

    window#waybar {
        background-color:rgba(32 , 37 , 38,  .8);

        border-bottom: 0px solid transparent;
        border:1px solid #f2f2f2;
        color: black;
        transition-property: background-color;
        transition-duration: .5s;
        border-radius: 10px;
    }

    window#waybar.hidden {
        opacity: 0.2;
    }


    window#waybar.termite {
        background-color: #3F3F3F;
    }

    window#waybar.chromium {
        background-color: #000000;
        border: none;
    }

    button {
        /* Use box-shadow instead of border so the text isn't offset */
        box-shadow: inset 0 -3px transparent;
        /* Avoid rounded borders under each button name */
        border: none;
        /* border-radius: 0; */
    }

    /* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
    button:hover {
        background: inherit;
        box-shadow: inset 0 -3px #f0932b;
    }

    #clock,
    #battery,
    #cpu,
    #memory,
    #disk,
    #temperature,
    #backlight,
    #network,
    #pulseaudio,
    #wireplumber,
    #custom-media,
    #tray,
    #mode,
    #idle_inhibitor,
    #scratchpad,
    #power-profiles-daemon,
    #mpd,
    #custom-power,
    #workspaces
     {
        padding: 1px 20px;
        margin-bottom:10px;
        margin-top:10px;
        color: black;
        border-radius: 12px;
        border:1px solid #f2f2f2
    }
  

        #workspaces button {
            padding: 0 5px;
            margin: 0 2px;
            background-color: transparent;
            color: #000000;
        }


        #workspaces button:hover {
            background: rgba(0, 0, 0, 0.2);
            padding:0 5px;
            border-radius:10px;
            margin-top:2px;
            margin-bottom:2px;
        }

        #workspaces button.focused {
            background-color: rgb(86, 96, 105);
            border-radius: 10px;
            margin-top:2px;
            margin-bottom:2px;
        }

        #workspaces button.urgent {
            background-color: #eb4d4b;
        }

        #workspaces {
            margin: 4 4px;
        }
    
#workspaces {
margin-left:10px;
background-color: #0d0c0b;
color: #f2f2f2;
}
#window
{
    margin: 4 4px;
}
    
#window {

        border:1px solid #f2f2f2;
        padding: 5px;
        border-radius: 10px;
        
background-color: #0c0b0d;
color: #f2f2f2;
}
#idle_inhibitor {

        color:black;
        
background-color: #0d0d0d;
color: #f2f2f2;
}
#idle_inhibitor.activated {

        color: black;
        
background-color: #0c0b0d;
color: #f2f2f2;
}
#pulseaudio {

background-color: #0c0b0d;
color: #f2f2f2;
}
#pulseaudio:hover {

                
background-color: #0d0d0d;
color: #f2f2f2;
}
#network {

background-color: #0d0d0d;
color: #f2f2f2;
}
#network.disconnected {

background-color: #0c0b0d;
color: #f2f2f2;
}
#backlight {

background-color: #0c0b0d;
color: #f2f2f2;
}
    #battery.critical:not(.charging) {
        background-color: #f53c3c;
        color: #ffffff;
        animation-name: blink;
        animation-duration: 0.5s;
        animation-timing-function: steps(12);
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    #battery.charging, #battery.plugged {
        color: #ffffff;
        background-color: #26A65B;
    }

    #battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    }
    
#battery {
color: #000000;
background-color: #0d0d0d;
color: #f2f2f2;
}
#clock {

background-color: #0c0b0d;
color: #f2f2f2;
}
        #tray > .passive {
        -gtk-icon-effect: dim;
    }

    #tray > .needs-attention {
        -gtk-icon-effect: highlight;
        background-color: #eb4d4b;
    }

    
#tray {

background-color: #0d0d0d;
color: #f2f2f2;
}
#custom-power {

                                        padding-left: 10px;
                                        padding-right: 1px;
                                        margin-right:10px;
                                        
background-color: #0d0702;
color: #f2f2f2;
}