* {
    font-family: monospace;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(255, 230, 242, 0.9);
    color: #6A4C93;
    border-bottom: 2px solid #B399D4;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #6A4C93;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background-color: #D8F7F2;
    border-bottom: 3px solid #B399D4;
}

#workspaces button.urgent {
    background-color: #FF6B8B;
    color: #FFFFFF;
}

#workspaces button.empty {
    color: #A5BECC;
}

#battery {
    color: #6A4C93;
}

#battery.critical {
    color: #FF6B8B;
}

#battery.charging {
    color: #6A4C93;
}

#pulseaudio {
    color: #6A4C93;
}

#pulseaudio.muted {
    color: #A5BECC;
}

#network {
    color: #6A4C93;
}

#network.disconnected {
    color: #FF6B8B;
}

#clock {
    color: #B399D4;
    font-weight: bold;
}

#window {
    background-color: #D8F7F2;
    padding: 0 10px;
    border-radius: 0;
}
