html {
  --main: black;
  --secondary: white;
  --value: red;
  --type: blue;
  --varInitializer: purple;
  --comparison: green;
  --index:hotpink;
  --if:darkorange;
  background-color: var(--main);
  color: var(--secondary);

}

.value {
  color: var(--value);
}


.index{
  color: var(--index);
}

.type {
  color: var(--type);
}

.var{
  color: var(--varInitializer)
}
.comparison {
  color: var(--comparison);
}

.if{
  color: var(--if);
}

.center {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.centerExample {
  margin-top: 5px;
  margin-bottom: 5px;
  display: grid;
  grid-template:
   "t te"  
   "c ce" / 1.5fr 1fr;
}

.centerExample > *:first-child{
grid-area: t;
}

.centerExample > *:nth-child(2){
grid-area: c;
}


.centerExample > *:nth-child(3){
border: 2px solid var(--secondary);
justify-self: center;
padding: 10px;
border-radius: 10px;
grid-area: te;
}


.centerExample > *:nth-child(4){
grid-area: ce;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: 2px solid var(--secondary);
  border-radius: 20px;
}

h2 {
  text-align: center;
}

code {
  align-self: center;
  text-align: center;
  display: block;
  background-color: var(--secondary);
  color: var(--main);
  padding: 7px;
  border-radius: 10px;
  margin: 2px;
}

code.block{
  align-self: center;
  text-align:left;
  
}
