snippet vX
velocity.x = 0
endsnippet

snippet vY
velocity.y = 0
endsnippet

snippet pX
position.x = 0
endsnippet

snippet pY
position.y = 0
endsnippet

snippet _p
func _process(_delta):	
	
endsnippet

snippet _pP
func _physics_process(_delta):	
	
endsnippet


snippet pl
var x: PackedScene = preload("")
endsnippet
